@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body
{
  display:grid;
  height:100%;
  place-items: center;
  text-align:center;
  background:#000;
}

.center
{
  width: 700px;
  background:#111;
  padding:130px 30px;
  border:1px solid #444;
  border-radius: 5px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  position:relative;
  top: 45%;
   left: 50%;  
  transform: translate(-50%, -50%);
}

.center .textarea
{
  font-size:25px;
  color:#666;
  font-weight:500;
}

.center .edit
{
  position:absolute;
  right:10px;
  top:5px;
  font-size:16px;
  color:rgba(255, 2, 2, 0.879);
  font-weight:500;
  cursor:pointer;
}

.text
{
  position:relative;
  font-size:24px;
  color:rgba(255, 2, 2, 0.879);
  font-weight:500;
  
}

.center .edit:hover
{
  text-decoration: underline;
}
.center .post
{
  display:none;
}
form .btn
{
  height:45px;
  width:100%;
  margin:15px 0;
}

form .btn button
{
  height:100%;
  width:100%;
  border:1px solid #444;
  outline:none;
  background:222;
  color:rgb(0, 0, 0);
  font-size:17px;
  font-weight:500;
  text-transform:uppercase;
  cursor:pointer;
  transition: all 0.3s ease;
  }

form .btn button:hover
{
  background:rgba(255, 0, 0, 0.902);
}

 .center .stars{
  height: 150px;
  width: 500px;
  text-align: center;
}
.stars input{
  display: none;
}
.stars label{
  float: right;
  font-size: 45px;
  color: lightgrey;
  margin: 0 5px;
  text-shadow: 1px 1px #bbb;
}
.stars label:before{
  content: '★';
}
.stars input:checked ~ label{
  color: rgba(255, 0, 0, 0.902);
  text-shadow: 1px 1px rgb(0, 3, 204);
}
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label{
  color: rgba(255, 0, 0, 0.902);
}
.stars input:checked > label:hover,
.stars input:checked > label:hover ~ label{
  color: rgba(255, 0, 0, 0.902);
  text-shadow: 1px 1px rgb(0, 3, 204);
}

.stars input#ten:checked~label
{
    color: hsl(57, 100%, 50%);
}

.stars input#one:checked~form header:before
{
  content:"Hate it";
}

.stars input#two:checked~form header:before
{
  content:"Don't like it";
}

.stars input#three:checked~form header:before
{
  content:"Like it";
}
.stars input#four:checked~form header:before
{
  content:"Like it";
}
.stars input#five:checked~form header:before
{
  content:"Nice";
}

.stars input#six:checked~form header:before
{
  content:"It's Good";
}
.stars input#seven:checked~form header:before
{
  content:"It's Good";
}
.stars input#eight:checked~form header:before
{
  content:"It's Awesome";
}
.stars input#nine:checked~form header:before
{
  content:"It's Awesome";
}
.stars input#ten:checked~form header:before
{
  content:"Loved it";
}

.center form{
  display:none;
}

input:checked~form
{
  display:block;
}
form header
{
    width:100%;
    font-size:25px;
    color:#fe7;
    font-weight:500;
    margin:5px 0 20px 0;
    text-align:center;
    transition:all 0.2s,ease;
}

form .textarea
{
  height:100px;
  width:100%
  overflow:hidden;
}

form .textarea textarea
{
    height:100%;
    width:100%;
    outline:none;
    color:#eee;
    border: 1px solid #333;
    background:#222;
    padding:10px;
    font-size:17px;
    resize:none;
}

 
